{{ define "log" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2024-09-05 21:30:22 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Records</h2>

    {{ template "records" . }}

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
