{{ define "records" }}
{{/* Created on 05. 09. 2024 */}}
{{/* Time-stamp: <2024-09-05 23:48:30 krylon> */}}

<table class="horizontal">
  <thead>
    <tr>
      <th>Host</th>
      <td>Visible?</td>
    </tr>
  </thead>
  {{ range .Hosts }}
  <tr>
    <th>{{ .NameShort }}</th>
    <td>
      <input id="show_{{ .ID }}"
             type="checkbox"
             checked="true"
             onclick="toggle_visibility({{ .ID }});" />
    </td>
  </tr>
  {{ end }}
</table>

<p>
  &nbsp;
</p>

<table class="table">
  <thead>
    <tr>
      <th>Host</th>
      <th>Time</th>
      <th>Source</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody id="records">
    {{ $hosts := .Hostnames }}
    {{ range .Records }}
    <tr class="Host{{ .HostID }}">
      <td>{{ index $hosts .HostID }}</td>
      <td>{{ fmt_time .Time }}</td>
      <td>{{ .Source }}</td>
      <td>{{ .Message }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}
