{{ define "search" }}
{{/* Created on 06. 09. 2024 */}}
{{/* Time-stamp: <2024-09-07 16:10:09 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Search</h2>

    <script type="text/javascript">
     function clear_results() {
       jQuery("#results")[0].innerHTML = ""
     } // function clear_results()

     function clear_filters() {
       let boxes = jQuery("#search_filters input[type=checkbox]")

       for (var i = 0; i < boxes.length; i++) {
         boxes[i].checked = false
       }
     } // function clear_filters()

     function perform_search() {
       let hosts = _.find(jQuery("#select_hosts input[type=checkbox]"),
                                (x) => { return x.checked })
       let sources = _.find(
         jQuery("#select_sources input[type=checkbox]"),
         (x) => { return x.checked }
       )
       let period = _.map(jQuery("#search_filters input[type=datetime-local]"),
                          (x) => { return x.value })
     } // function perform_search()
    </script>

    <div class="container">
      
      <div class="row" id="search_filters">
        <div class="col">
          <ul id="select_hosts">
            {{ range .Hosts }}
            <li>
              <input type="checkbox"
                     id="filter_host_{{ .ID }}"
                     value="{{ .ID }}" />
              {{ .NameShort }}
            </li>
            {{ end }}
          </ul>
        </div>
        
        <div class="col">
          <ul id="select_sources">
            {{ range $src, $cnt := .Sources }}
            <li>
              <input type="checkbox"
                     id="filter_src_{{ sanitize $src }}" />
              {{ $src }} ({{ $cnt }})
            </li>
            {{ end }}
          </ul>
        </div>

        <div class="col">
          <table class="horizontal" id="select_period">
            <tr>
              <th>Begin:</th>
              <td>
                <input type="datetime-local"
                       id="filter_period_begin" />
              </td>
            </tr>
            <tr>
              <th>End:</th>
              <td>
                <input type="datetime-local"
                       id="filter_period_end" />
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="button" value="Search" onclick="perform_search()" />
        </div>
        <div class="col">
          <input type="button" value="Clear" onclick="clear_filters()"/>
        </div>
      </div>

      <div id="results" class="row">
        Bla
      </div>

    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
