{{ define "search" }}
{{/* Created on 06. 09. 2024 */}}
{{/* Time-stamp: <2024-09-12 19:28:33 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Search</h2>

    <script type="text/javascript">
     function clear_results() {
       jQuery("#results")[0].innerHTML = ""
     } // function clear_results()

     function clear_filters() {
       let boxes = jQuery("#search_filters input[type=checkbox]")

       for (var i = 0; i < boxes.length; i++) {
         boxes[i].checked = false
       }

       jQuery("#search_terms")[0].value = ""
     } // function clear_filters()

     function search_create() {
       const hosts = _.map(_.filter(jQuery("#select_hosts input[type=checkbox]"),
                                          (x) => { return x.checked }),
                           (x) => { return x.value })


       const sources = _.map(
         _.filter(
           jQuery("#select_sources option"),
           (x) => { return x.selected }
         ),
         (x) => { return x.value })

       const period = _.map(jQuery("#search_filters input[type=datetime-local]"),
                            (x) => { return x.valueAsDate })

       let terms = jQuery("#search_terms")[0].value.split("\n")

       if (_.all(terms, (x) => { return x == "" })) {
         terms = []
       } else if (jQuery("#case_insensitive")[0].checked) {
         terms = _.map(terms,
                       (x) => { return "(?i)" + x })
       }

       const query = {
         "hosts": _.map(hosts, (x) => { return Number.parseInt(x) }),
         "sources": sources,
         "period": period,
         "terms": terms,
       }

       const qstr = JSON.stringify(query)

       const req = $.post("/ajax/search/create",
                          qstr,
                          (res) => {
         console.log(res)
         const item = `<li>${res.Payload.id} (${res.Payload.cnt}) <input type="button" value="Load" onclick="search_load_results(${res.Payload.id}, 1)" /></li>`
         const div = jQuery("#searches")[0]
         div.innerHTML += item
       },
                          'json')

       req.fail(function (reply, status_text, xhr) {
         console.log(`Error searching: ${status_text} ${reply} ${xhr}`)
       })

       console.log("Things have never been better")
     } // function search_create()

     function clear_results() {
       const resDiv = jQuery("#results")[0]
       resDiv.innerHTML = "&nbsp;"
     }
    </script>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p />
          <input type="button" value="Submit" onclick="search_create()" />
          <p />
          <input type="button" value="Clear Filters" onclick="clear_filters()" />
          <p />
          <input checked type="button" value="Clear Results" onclick="clear_results()" />
        </div>
        <div class="col">
          <h4>Searches</h4>
          <ul id="searches">
            {{ range .Searches }}
            <li>
              {{ index . 0 }} ({{ index . 1 }})
              <input type="button"
                     value="Load"
                     onclick="search_load_results({{ index . 0 }}, 1)" />
              </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <details open="true">
        <summary>Search Parameters</summary>
        <div class="row" id="search_filters">
          <div class="col">
            <ul id="select_hosts">
              {{ range .Hosts }}
              <li>
                <input type="checkbox"
                       id="filter_host_{{ .ID }}"
                       value="{{ .ID }}" />
                {{ .NameShort }}
              </li>
              {{ end }}
            </ul>
          </div>
          
          <div class="col">
            <select id="select_sources" multiple size="20">
              {{ range $src, $cnt := .Sources }}
              <option>{{ $src }}</option>
              {{ end }}
            </select>
          </div>

          <div class="col">
            <table class="horizontal" id="select_period">
              <tr>
                <th>Begin:</th>
                <td>
                  <input type="datetime-local"
                         value="{{ fmt_time_form .Begin }}"
                         id="filter_period_begin" />
                </td>
              </tr>
              <tr>
                <th>End:</th>
                <td>
                  <input type="datetime-local"
                         value="{{ fmt_time_form .End }}"
                         id="filter_period_end" />
                </td>
              </tr>
            </table>
          </div>

          <div class="col">
            <textarea id="search_terms"
                      spellcheck="false"
                      rows="5"
                      cols="30"></textarea>
            <br />
            <br />
            Case-insensitive? <input type="checkbox"
                                     checked="true"
                                     id="case_insensitive" />
          </div>
        </div>
      </details>

      <div id="results" class="row">
        Bla
      </div>

    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
